body, html {
    height: 90%;
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #777;
}

.btn, a, li {
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

a, a:hover {
    text-decoration: none;
    color: #6064da;
}

.btn:hover{
    background-color: white;
    border-color: #6064da;
    color: #6064da;
}

h3{
    color: #111;
}

p{
    font-size: 140%;
}

.center{
    margin: auto;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.navbar-brand:hover {
    background-color: white!important;
    color: #656565!important;
}

.banner {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner {
    background-image: url("../img/banner.jpg");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 2;
}

.navbar-fixed-top.scrolled {
    background-color: #656565!important;
    color: #ffffff!important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled a ,
.navbar-fixed-top.scrolled li a
{
    color: white;
}

.selectScroll, .selectScroll:focus {
    background-color: #656565!important;
    color: #ffffff!important;
    transition: background-color 200ms linear;
}

.dropdown-menu li a{
    color: #656565!important;
}

li a:hover {
    background-color: white;
    transition: background-color 200ms linear;
}

.selected, .selected:focus{
    background-color: white!important;
    color: #656565!important;
}

.navbar li:hover {
    background-color: white;
}

#address{
    padding: 100px 5px;
}

#content, #contact, #impressum{
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
}
#contact, #impressum{
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
}

.mobile-hide{
    display: inline !important;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1190px) {
    .banner {
        background-attachment: scroll;
    }
    #content, #contact, #impressum{
        padding:25px 40px;
    }
    .mobile-hide{
        display: none !important;
    }
    .img-banner{
        padding: 0 10px;
    }
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
        font-size: 16px; /*For turning zoom into input on mobile off*/
    }
}

@media (max-width: 1190px) {
    #content, #contact, #impressum{
        padding:25px 40px;
    }
    .navbar {
        background-color: #656565;
        color: #ffffff;
    }
    li a{
        color: white!important;
    }
    li a:hover{
        background-color: white!important;
        color: #656565!important;
    }
    .navbar-brand {
        color: white!important;
    }
    .dropdown-menu li a{
        color: #656565!important;
        background-color: white!important;
    }
    .dropdown-menu li a:hover{
        color: white!important;
        background-color: #656565!important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .selected, .selected:focus{
        background-color: white!important;
        color: #656565!important;
    }
    #address{
        padding: 5px;
    }
}